.hover-dark li:hover{
    background: Orange;
}.space{
     clear: both;
     float: none;
     width: 100%;
 }  dd{
         margin-left: 20px;

     }  img{
            max-height: 152px;
            max-width: 332px;
        }  * {
               margin: 0px;
               padding: 0px;
               box-sizing: border-box;
           } body {
                 font-family: 'Verdana', sans-serif;
                 color: rgb(68,68,68);
                 min-width: 960px;
             } footer {
                           clear: both;
                           height: 20px;
                       }
