<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="/fragments/header :: header"></div>

<h1>Kaffee & Tee Webshop</h1>

<img src="/img/coffee.jpg" alt="coffee">
<div class="space"></div>
<div class="txtbox">
<h2>Kaffee:</h2>
<p>Bei uns haben sie die Qual der Wahl! Wir verkaufen besten Kaffee welcher auf dem Mars produziert wurde. Dies gibt es nur hier!
    Wir sind natürlich auch ökologisch, und haben faire löhne!
    Sie fragen sich bestimt wie ist das möglich?
    Ganz einfach wir haben eine neue Machine erfunden womit wir auf dem Mars die geernteten Kaffeebonen in Energie umwandeln können,
    welche mit entsprechenden informationen via einzigartiger informations vermittlung mit lichtübertragung zu uns schicken und Hier bei uns wieder ganz einfach zusammen bauen lassen.
</p></div>
<img src="/img/marscoffee.png" alt="marscoffee">
    <div class="space"></div>
<div>
    <img src="/img/tea.jpg" alt="tea">
    <div class="txtbox">
<h2>Tee:</h2>
<p>Natürlich haben wir auch selbst angebaute Teepflanzen welche wir synthetisch produzieren um den einzigartigen Geschmack zu kriegen.
    Diese Teepflanzen sind auf unserer Erde leider nur schwer anzubauen, jedoch im inneren wo es heisse Temperaturen gibt und keine strahlungsprobleme
    wie im Weltall haben wir die einzigartige umgebung von druck und Hitze um die Perfekte Pflanze zu züchten!
</p></div>
    <div class="space"></div>
<img src="/img/undertworldtea.png" alt="underworldtea">
</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>