<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bestellt</title>
</head>
<body>

<div th:replace="/fragments/header.html"></div>

<h1>Vielen Dank für Ihre Bestellung!</h1>

<h2>Sie haben Bestellt:</h2>

<p>Produkt:<div id="coffee" th:text="${ordering.getComment()}"/></p><br/>

<p>Produkt:<div id="tea" th:text="${ordering.getComment()}"/></p><br/>

<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>