<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="/fragments/header.html"></div>


<h2>Produkte:</h2>
<p>Wir Verkaufen Kaffee & Tee mit zusatzprodukte falls Sie diese dazu wünschen.</p>
<dl>
    <dd>
        <label>Kaffee</label>
    </dd>
    <dd>
        <dl>
            <dd><label>Rahm</label></dd>
            <dd><label>Milch</label></dd>
            <dd><label>Zucker</label></dd>
            <dd><label>Süssungsmittel</label></dd>
        </dl>
    </dd>
    <dd>
        <label>Tee</label>
    </dd>
    <dd>
        <dl>
            <dd><label>Rahm</label></dd>
            <dd><label>Milch</label></dd>
            <dd><label>Zucker</label></dd>
            <dd><label>Süssungsmittel</label></dd>
        </dl>
    </dd>
</dl>
<h3>Kosten pro Bestellung:</h3>
<dl>
    <dd><label>Tee</label><p> 5300 CHF</p></dd>
    <br>
    <dd><label>Kaffee</label><p> 8200CHF</p></dd>
</dl>
<P><i>Pro zusatz kommen 1 CHF aufschlag.</i></P>
<br>
<p><i> Bitte loggen Sie sich ein oder Regestrieren Sie sich für Bestellungen falls gewünscht</i></p>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>